<form action="/leads" method="post" accept-charset="UTF-8" >
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
											<div class="col-md-6">
												<label for="name">Full Name *</label>
												<input required type="text" value="" class="form-control" name="name" id="name">
											</div>
											<div class="col-md-6">
												<label for="businessname">Business Name</label>
												<input type="text" value="" class="form-control" name="businessname" id="name">
											</div>
											<div class="col-md-6">
												<label for="email">E-mail Address *</label>
												<input required type="email" value="" class="form-control" name="email" id="cemail">
											</div>
											<div class="col-md-4">
												<label for="phone">Phone</label>
												<input type="text" value="" class="form-control" name="phone" id="phone">
											</div>
									</div>
									<div class="row">

											<div class="col-md-6">
												<label for="department">Department</label>
												<input type="text" value="" class="form-control" name="department" id="phone">
											</div>
											<div class="col-md-6">
												<label for="subject">Project Name</label>
												<input required type="text" value="" class="form-control" name="projectname" id="project name">
											</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<label for="message">Project Description</label>
											<textarea maxlength="10000" rows="3" class="form-control" name="projectdescription" id="project description"></textarea>
										</div>
								</div>
									<div class="row">
											<div class="col-md-12">
												<label for="message">Message *</label>
												<textarea required maxlength="10000" rows="3" class="form-control" name="message" id="message"></textarea>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="attachment">File Attachment</label>

												 <!-- custom file upload -->
												<input class="custom-file-upload" type="file" id="file" name="Attached_file" id="contact:attachment" data-btn-text="Select a File" />
												<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

											</div>
									</div>

								</fieldset>

								<div class="row">
									<div class="col-md-12">
										<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
									</div>
								</div>
							</form>